<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.5/examples/dashboard/dashboard.css" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
    <link th:href="@{/css/registration.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->
    <title>Gantt Page</title>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" th:inline="text">Здравствуйте
        [[${#httpServletRequest.remoteUser}]]</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Поиск" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form class="nav-link" th:action="@{/logout}" method="post">
                <input type="submit" value="Выход"/>
            </form>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/engineer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path fill-rule="evenodd"
                                      d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
                            </svg>
                            Назад <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/journal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            Журнал мойки
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gantt">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-layers">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            Диаграмма мойки оборудования
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/efficiency_circuit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            Эффективность работы контура
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Фильтр поиска</span>
                </h6>

                <form class="form-signin" name="s" id="search">
                    <div>
                        <li class="nav-form">
                            <label for="start-datetime-local-input">Начало периода</label>
                            <div class="col-10">
                                <input class="form-control" type="datetime-local" value="2021-05-04T00:00:00"
                                       name="startSearch" id="start-datetime-local-input">
                            </div>
                        </li>
                        <li class="nav-form">
                            <label for="end-datetime-local-input">Окончание периода</label>
                            <div class="col-10">
                                <input class="form-control" type="datetime-local" value="2021-05-05T00:00:00"
                                       name="endSearch" id="end-datetime-local-input">
                            </div>
                        </li>
                        <li class="nav-form">
                            <label for="washType">Фильтр по типу мойки</label>
                            <select name="type" class="form-control" id="washType">
                                <option>Все</option>
                                <option>Мойка щелочью</option>
                                <option>Мойка кислотой</option>
                                <option>Стерилизация</option>
                            </select>
                        </li>
                        <li class="nav-form">
                            <label for="objectType">Фильтр по объектам</label>
                            <select name="object" class="form-control" id="objectType">
                                <option>Танк 31</option>
                                <option>Танк 32</option>
                                <option>Танк 33</option>
                                <option>Танк 34</option>
                                <option>Танк 35</option>
                                <option>Танк 36</option>
                                <option>Линия подачи 31-36</option>
                                <option>Линия 6</option>
                                <option>Линия подачи 3.1</option>
                                <option>Линия подачи 3.2</option>
                                <option>Танк УХМ 1</option>
                                <option>Танк УХМ 2</option>
                                <option>Танк УХМ 3</option>
                                <option>Танк УХМ 4</option>
                                <option>Танк УХМ 5</option>
                                <option>Танк УХМ 6</option>
                                <option>Танк УХМ 7</option>
                                <option>Танк УХМ 8</option>
                                <option>Танк УХМ 9</option>
                                <option>Танк ПУ 1</option>
                                <option>Линия сырого молока</option>
                                <option>Линия УХМ</option>
                                <option>Линия подработки</option>
                                <option>Танк 21</option>
                                <option>Танк 22</option>
                                <option>Танк 23</option>
                                <option>Танк 24</option>
                                <option>Танк 25</option>
                                <option>Танк 26</option>
                                <option>Танк 27</option>
                                <option>Танк 28</option>
                                <option>Танк 29</option>
                                <option>Танк 30</option>
                                <option>Линия подачи 21-30</option>
                                <option>Линия подачи 38-39</option>
                                <option>Линия подачи йогурта</option>
                                <option>Линия 14.1</option>
                                <option>Линия 14.2</option>
                                <option>Линия 13.1</option>
                                <option>Линия 13.2</option>
                                <option>Скнима</option>
                                <option>Линия ЗО-ПСУ</option>
                                <option>Танк 11</option>
                                <option>Танк 12</option>
                                <option>Танк 13</option>
                                <option>Танк 14</option>
                                <option>Танк 15</option>
                                <option>Танк 16</option>
                                <option>Танк 17</option>
                                <option>Танк 18</option>
                                <option>Танк 19</option>
                                <option>Танк 20</option>
                                <option>Линия подачи 11-20</option>
                                <option>Линия 5.1</option>
                                <option>Линия 4.1</option>
                                <option>Линия 1.1</option>
                                <option>Топка масла</option>
                                <option>Топка жира</option>
                                <option>Линия масла</option>
                                <option>Линия жира</option>
                                <option>Линия 1.2</option>
                                <option>Линия 4.2</option>
                                <option>Линия 5.2</option>
                                <option>Линия ополосков</option>
                                <option>Танк 1</option>
                                <option>Танк 2</option>
                                <option>Танк 3</option>
                                <option>Танк 4</option>
                                <option>Танк 5</option>
                                <option>Танк 6</option>
                                <option>Танк 7</option>
                                <option>Танк 8</option>
                                <option>Танк 9</option>
                                <option>Танк 10</option>
                                <option>Линия подачи 1-10</option>
                                <option>Линия 11.1</option>
                                <option>Линия 11.2</option>
                                <option>Линия 12.1</option>
                                <option>Линия 12.2</option>
                                <option>Линия 10</option>
                                <option>Линия подачи 42-43</option>
                                <option>Линия подачи 39-41</option>
                                <option>Танк 39</option>
                                <option>Танк 40</option>
                                <option>Танк 41</option>
                                <option>Танк 42</option>
                                <option>Танк 43</option>
                                <option>Танк Заготовки 1</option>
                                <option>Танк Заготовки 2</option>
                                <option>Танк Заготовки 3</option>
                                <option>Танк Заготовки 4</option>
                                <option>Масляный буфер</option>
                                <option>Жировой буфер</option>
                            </select>
                        </li>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Поиск</button>
                </form>

            </div>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Диаграмма эффективности мойки объекта</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Распечатать</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Сохранить в pdf</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-calendar">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        Опции
                    </button>
                </div>
            </div>


            <div class="tl" id="efficiency" style="height: 100%; ">
            </div>


        </main>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('form').submit(function () {
            var json = {
                "object": $('#objectType').prop('selectedIndex'),
                "type": $('#washType').val(),
                "startSearch": $('#start-datetime-local-input').val(),
                "endSearch": $('#end-datetime-local-input').val(),
            };
            //console.log(json);
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url: "/efficiency",
                data: JSON.stringify(json),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    // Вывод текста результата отправки в текущей форме
                    console.log(data);
                    google.charts.load('current', {'packages': ['corechart']});
                    google.charts.setOnLoadCallback(drawVisualization);

                    function drawVisualization() {
                        let htmlData = data;
                        var b = 'Стерилизация';
                        // b = 'Заполнение щелочи';
                        var c = 'Последнее опаласкивание';
                        //c= 'Мойка';
                        var d = null;
                        d = 'Вытеснение';

                        var r = [
                            ['Дата', 'Ополаскивание', {type: 'string', role: 'annotation'}, b, {
                                type: 'string',
                                role: 'annotation'
                            }, c, {type: 'string', role: 'annotation'}, d, {
                                type: 'string',
                                role: 'annotation'
                            }, c, {type: 'string', role: 'annotation'}, 'Average'],
                            [null, null, null, 90, null, null, null, null, null, null, null, 100],
                        ];

                        var el;

                        /* for (let subArr of Object.keys(htmlData)) {
                             el = htmlData[subArr];
                             r.push(['20.04.21(20:00-20:35)', 105, 91, 103, 102, 110, 100])
                         }*/
                        //for screenShot :)

                        r.push(['04.05.21(20:02-20:35)', 105, 'Ополаскивание', 101, 'Заполнение щелочью', 103, 'Мойка щелочью', 102, 'Вытеснение щелочи', 107, 'Последнее опаласкивание', 100]);
                        r.push(['04.05.21(22:35-22:55)', 105, 'Ополаскивание', 101, 'Стерилизация', 103, 'Последнее опаласкивание', null, null, null, null, 100]);
                        r.push(['05.05.21(8:08-8:27)', 105, 'Ополаскивание', 101, 'Заполнение кислотой', 95, 'Мойка кислотой', 100, 'Вытеснение кислоты', 102, 'Последнее опаласкивание', 100]);
                        r.push(['05.05.21(13:00-13:35)', 105, 'Ополаскивание', 101, 'Стерилизация', 103, 'Последнее опаласкивание', null, null, null, null, 100]);
                        r.push(['05.05.21(15:00-15:28)', 105, 'Ополаскивание', 101, 'Стерилизация', 103, 'Последнее опаласкивание', null, null, null, null, 100]);


                        r.push([null, null, null, null, null, null, null, null, null, null, null, 100]);
                        var data2 = google.visualization.arrayToDataTable(r);

                        var options = {
                            width: 2500,
                            height: 700,
                            interpolateNulls: true,

                            legend: {position: 'none'},
                            title: 'Эффективность мойки обекта Танк 32',
                            vAxis: {title: 'Длительность шага относительно заданной в %'},
                            hAxis: {
                                title: ' Дата', textStyle: {
                                    fontSize: 10
                                }, viewWindow: {
                                    min: 0.8
                                }
                            },
                            //bar: {groupWidth: "85%"},

                            seriesType: 'bars',
                            series: {
                                5: {color: 'red', type: 'line', lineDashStyle: [10, 2]}
                            },

                            annotations: {
                                //style: 'line',
                                textStyle: {
                                    fontName: 'Times-Roman',
                                    fontSize: 10,
                                    bold: true,
                                    italic: true,
                                    color: 'black',
                                    // The color of the text outline.
                                    //auraColor: '#d799ae',
                                    opacity: 0.8
                                },
                                alwaysOutside: true
                            }
                        };
                        var chart = new google.visualization.ComboChart(document.getElementById('efficiency'));
                        chart.draw(data2, options);
                    }
                }
            });
            return false;
        });
    });
</script>


</body>
</html>