<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.5/examples/dashboard/dashboard.css" rel="stylesheet">
    <link th:href="@{/css/registration.css}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <title>Gantt Page</title>
    <style>
        #zatemnenie {
            background: rgba(102, 102, 102, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }

        #okno {
            width: 700px;
            height: 400px;
            text-align: justify;
            padding: 15px;
            border: 3px solid #6c757d;
            border-radius: 10px;
            color: #6c757d;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #fffef6;
        }

        #zatemnenie:target {
            display: block;
        }

        .close {
            display: inline-block;
            border: 1px solid #6c757d;
            color: #6c757d;
            padding: 0 12px;
            margin: 10px;
            text-decoration: none;
            background: #f2f2f2;
            font-size: 10pt;
            cursor: pointer;
        }

        .close:hover {
            background: #e6e6ff;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" th:inline="text">Здравствуйте
        [[${#httpServletRequest.remoteUser}]]</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Поиск" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form class="nav-link" th:action="@{/logout}" method="post">
                <input type="submit" value="Выход"/>
            </form>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/engineer">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                <path fill-rule="evenodd"
                                      d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
                            </svg>
                            Назад <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/journal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            Журнал мойки
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/efficiency_circuit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            Эффективность работы контура
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/efficiency">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file-text">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                <polyline points="14 2 14 8 20 8"></polyline>
                                <line x1="16" y1="13" x2="8" y2="13"></line>
                                <line x1="16" y1="17" x2="8" y2="17"></line>
                                <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            Эффективность мойки объекта
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Фильтр поиска</span>
                </h6>

                <form class="form-signin" name="s" id="search">
                    <div>
                        <li class="nav-form">
                            <label for="start-datetime-local-input">Начало периода</label>
                            <div class="col-10">
                                <input class="form-control" type="datetime-local"
                                       name="startSearch" id="start-datetime-local-input">
                            </div>
                        </li>
                        <li class="nav-form">
                            <label for="end-datetime-local-input">Окончание периода</label>
                            <div class="col-10">
                                <input class="form-control" type="datetime-local"
                                       name="endSearch" id="end-datetime-local-input">
                            </div>
                        </li>
                        <li class="nav-form">
                            <label for="washType">Фильтр по типу мойки</label>
                            <select name="type" class="form-control" id="washType">
                                <option>Все</option>
                                <option>Мойка щелочью</option>
                                <option>Мойка кислотой</option>
                                <option>Стерилизация</option>
                            </select>
                        </li>
                        <li class="nav-form">
                            <label for="routType">Фильтр по контурам</label>
                            <select name="cip" class="form-control" id="routType">
                                <option>Все</option>
                                <option>СИП 1</option>
                                <option>СИП 2</option>
                                <option>СИП 3</option>
                                <option>СИП 4</option>
                            </select>
                        </li>
                        <li class="nav-form">
                            <label for="objectType">Фильтр по объектам</label>
                            <select name="object" class="form-control" id="objectType">
                                <option>Все</option>
                                <option>Танк 31</option>
                                <option>Танк 32</option>
                                <option>Танк 33</option>
                                <option>Танк 34</option>
                                <option>Танк 35</option>
                                <option>Танк 36</option>
                                <option>Линия подачи 31-36</option>
                                <option>Линия 6</option>
                                <option>Линия подачи 3.1</option>
                                <option>Линия подачи 3.2</option>
                                <option>Танк УХМ 1</option>
                                <option>Танк УХМ 2</option>
                                <option>Танк УХМ 3</option>
                                <option>Танк УХМ 4</option>
                                <option>Танк УХМ 5</option>
                                <option>Танк УХМ 6</option>
                                <option>Танк УХМ 7</option>
                                <option>Танк УХМ 8</option>
                                <option>Танк УХМ 9</option>
                                <option>Танк ПУ 1</option>
                                <option>Линия сырого молока</option>
                                <option>Линия УХМ</option>
                                <option>Линия подработки</option>
                                <option>Танк 21</option>
                                <option>Танк 22</option>
                                <option>Танк 23</option>
                                <option>Танк 24</option>
                                <option>Танк 25</option>
                                <option>Танк 26</option>
                                <option>Танк 27</option>
                                <option>Танк 28</option>
                                <option>Танк 29</option>
                                <option>Танк 30</option>
                                <option>Линия подачи 21-30</option>
                                <option>Линия подачи 38-39</option>
                                <option>Линия подачи йогурта</option>
                                <option>Линия 14.1</option>
                                <option>Линия 14.2</option>
                                <option>Линия 13.1</option>
                                <option>Линия 13.2</option>
                                <option>Скнима</option>
                                <option>Линия ЗО-ПСУ</option>
                                <option>Танк 11</option>
                                <option>Танк 12</option>
                                <option>Танк 13</option>
                                <option>Танк 14</option>
                                <option>Танк 15</option>
                                <option>Танк 16</option>
                                <option>Танк 17</option>
                                <option>Танк 18</option>
                                <option>Танк 19</option>
                                <option>Танк 20</option>
                                <option>Линия подачи 11-20</option>
                                <option>Линия 5.1</option>
                                <option>Линия 4.1</option>
                                <option>Линия 1.1</option>
                                <option>Топка масла</option>
                                <option>Топка жира</option>
                                <option>Линия масла</option>
                                <option>Линия жира</option>
                                <option>Линия 1.2</option>
                                <option>Линия 4.2</option>
                                <option>Линия 5.2</option>
                                <option>Линия ополосков</option>
                                <option>Танк 1</option>
                                <option>Танк 2</option>
                                <option>Танк 3</option>
                                <option>Танк 4</option>
                                <option>Танк 5</option>
                                <option>Танк 6</option>
                                <option>Танк 7</option>
                                <option>Танк 8</option>
                                <option>Танк 9</option>
                                <option>Танк 10</option>
                                <option>Линия подачи 1-10</option>
                                <option>Линия 11.1</option>
                                <option>Линия 11.2</option>
                                <option>Линия 12.1</option>
                                <option>Линия 12.2</option>
                                <option>Линия 10</option>
                                <option>Линия подачи 42-43</option>
                                <option>Линия подачи 39-41</option>
                                <option>Танк 39</option>
                                <option>Танк 40</option>
                                <option>Танк 41</option>
                                <option>Танк 42</option>
                                <option>Танк 43</option>
                                <option>Танк Заготовки 1</option>
                                <option>Танк Заготовки 2</option>
                                <option>Танк Заготовки 3</option>
                                <option>Танк Заготовки 4</option>
                                <option>Масляный буфер</option>
                                <option>Жировой буфер</option>
                            </select>
                        </li>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Поиск</button>
                </form>

            </div>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <!-- <div class="chartjs-size-monitor"
                  style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                 <div class="chartjs-size-monitor-expand"
                      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                     <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                 </div>
                 <div class="chartjs-size-monitor-shrink"
                      style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                     <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                 </div>
             </div>-->
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Диаграмма мойки оборудования</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Распечатать</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Сохранить в pdf</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-calendar">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        Опции
                    </button>
                </div>
            </div>


            <div class="tl" id="timeline" style="height: 340px; ">

                <script th:inline="javascript">

                    google.charts.load('current', {'packages': ['timeline']});
                    google.charts.setOnLoadCallback(drawChart);

                    var chart, dataTable;

                    function drawChart() {
                        var container = document.getElementById('timeline');
                        chart = new google.visualization.Timeline(container);
                        dataTable = new google.visualization.DataTable();


                        let htmlData = [[${data}]];


                        dataTable.addColumn({type: 'string', id: ' Cip'});
                        dataTable.addColumn({type: 'string', id: 'Object'});
                        dataTable.addColumn({type: 'string', id: 'style', role: 'style'});
                        dataTable.addColumn({type: 'date', id: 'Start'});
                        dataTable.addColumn({type: 'date', id: 'End'});


                        var el;
                        for (let subArr of Object.keys(htmlData)) {
                            el = htmlData[subArr];

                            dataTable.addRows([[el[0], el[1], el[2],
                                new Date(el[3], el[4] - 1, el[5], el[6], el[7], el[8]), new Date(el[9], el[10] - 1, el[11], el[12], el[13], el[14])]
                            ]);

                        }


                        var options = {
                            timeline: {
                                rowLabelStyle: {fontName: 'Helvetica', fontSize: 16, color: '#603913'},
                                barLabelStyle: { /*fontName: 'Helvetica',*/ fontSize: 12},

                            },
                            width: 33000,//каждый день ЗАДАННЫЙ В ФИЛЬТРЕ  умножить 33 000  2
                            hAxis: {
                                textStyle: {
                                    fontSize: 10
                                },
                                format: '      d.MM.yy H:mm',
                                timezone: 'UTC + 6',
                                gridlines: {count: 15}
                            }
                        };


                        chart.draw(dataTable, options);


                        google.visualization.events.addListener(chart, 'select', selectHandler);
                    }

                    function selectHandler() {
                        var selection = chart.getSelection();
                        select(selection);
                    }


                </script>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <script th:inline="javascript">

                        function select(selection) {
                            var json = {
                                "cipNumber": dataTable.getValue(selection[0].row, 0),
                                "rout": dataTable.getValue(selection[0].row, 1),
                                "start": dataTable.getValue(selection[0].row, 3),
                                "end": dataTable.getValue(selection[0].row, 4),
                            };
                            $.ajax({
                                type: "POST",
                                contentType: "application/json",
                                url: "/gantt",
                                data: JSON.stringify(json),
                                dataType: 'json',
                                cache: false,
                                timeout: 600000,
                                success: function (response) {
                                    console.log(response);
                                    var a, time;
                                    var number;

                                    if (Object.keys(response).length > 7) {
                                        number = 4;
                                    } else {
                                        number = 2;
                                    }
                                    //информация в шапке
                                    $('#info').text(response[number][1]);
                                    $('#info2').text(response[number][0]);

                                    a = {
                                        "year": response[number][3],
                                        "month": response[number][4],
                                        "day": response[number][5],
                                        "hourS": response[number][6],
                                        "minuteS": response[number][7],
                                        "secondS": response[number][8],
                                        "hourE": response[number][12],
                                        "minuteE": response[number][13],
                                        "secondE": response[number][14]
                                    };
                                    $('#info3').text(a.day + "." + a.month + "." + a.year + " c " + a.hourS + ":" + a.minuteS + ":" + a.secondS + " по " + a.hourE + ":" + a.minuteE + ":" + a.secondE);

                                    //статус
                                    if (response[number][2] === "#FF0000") {
                                        $('#status').text('время мойки занижено');
                                    } else if (response[number][2] === "#FFFF00") {
                                        $('#status').text('время мойки завышено');
                                    } else if (response[number][2] === "#049a00") {
                                        $('#status').text('мойка прошла штатно');
                                    }

                                    // Блок 1 ополаскивание
                                    $('#td1-1').text(response[0][1]);//тип мойки
                                    console.log(response);
                                    getTime(response, 0, 1);//время мойки
                                    //$('#td1-3').html(' <a href="#zatemnenie">Подробее</a>'); //для ошибок
                                    $('#td1-4').text(response[10][2]);//заданное время
                                    const real_1 = getRealTime(response, 0);//реальное время
                                    $('#td1-5').text(real_1);
                                    getDifferent(response, real_1, 1, 2);//разница во времени
                                    $('#td1-7').text(response[0][15]);//температура
                                    $('#td1-8').text(response[0][16]);//концентрация
                                    $('#td1-9').text(response[0][17]);//поток


                                    //Блок 2
                                    if (number === 2) {
                                        number = 5;
                                    } else if (response[1][1] === 'Заполнение кислотой') {
                                        number = 8;
                                    } else {
                                        number = 6;
                                    }

                                    $('#td2-1').text(response[1][1]);//тип мойки
                                    getTime(response, 1, 2);//время мойки
                                    //$('#td1-3').text(response); //для ошибок
                                    $('#td2-4').text(response[10][number]);//заданное время
                                    const real_2 = getRealTime(response, 1);//реальное время
                                    $('#td2-5').text(real_2);
                                    getDifferent(response, real_2, 2, number);//разница во времени
                                    $('#td2-7').text(response[1][15]);//температура
                                    $('#td2-8').text(response[1][16]);//концентрация
                                    $('#td2-9').text(response[1][17]);//поток

                                    //Блок 3
                                    var timeR;
                                    if (number === 5) {
                                        timeR = 4;
                                    } else if (number === 8) {
                                        number = 2;
                                        timeR = 3;
                                    } else {
                                        number = 2;
                                        timeR = 1;
                                    }

                                    $('#td3-1').text(response[number][1]);//тип мойки
                                    getTime(response, number, 3);//время мойки
                                    $('#td3-3').html(' <a href="#zatemnenie">Подробее</a>'); //для ошибок
                                    $('#td3-4').text(response[10][timeR]);//заданное время
                                    const real_3 = getRealTime(response, number);//реальное время
                                    $('#td3-5').text(real_3);
                                    getDifferent(response, real_3, 3, timeR);//разница во времени
                                    $('#td3-7').text(response[number][15]);//температура
                                    $('#td3-8').text(response[number][16]);//концентрация
                                    $('#td3-9').text(response[number][17]);//поток

                                    //Блок 4
                                    if (timeR !== 4) {
                                        number = 3;
                                        if (timeR === 3) {
                                            timeR = 9;
                                        } else {
                                            timeR = 7;
                                        }
                                        $('#td4-1').text(response[number][1]);//тип мойки
                                        getTime(response, number, 4);//время мойки
                                        //$('#td1-3').text(response); //для ошибок
                                        $('#td4-4').text(response[10][timeR]);//заданное время
                                        const real_4 = getRealTime(response, number);//реальное время
                                        $('#td4-5').text(real_4);
                                        getDifferent(response, real_4, 4, timeR);//разница во времени
                                        $('#td4-7').text(response[number][15]);//температура
                                        $('#td4-8').text(response[number][16]);//концентрация
                                        $('#td4-9').text(response[number][17]);//поток

                                        //Блок 5
                                        number = 7;
                                        timeR = 4;
                                        $('#td5-1').text(response[number][1]);//тип мойки
                                        getTime(response, number, 5);//время мойки
                                        $('#td5-3').html(' <a href="#zatemnenie">Подробее</a>'); //для ошибок
                                        $('#td5-4').text(response[10][timeR]);//заданное время
                                        const real_5 = getRealTime(response, number);//реальное время
                                        $('#td5-5').text(real_5);
                                        getDifferent(response, real_5, 5, timeR);//разница во времени
                                        $('#td5-7').text(response[number][15]);//температура
                                        $('#td5-8').text(response[number][16]);//концентрация
                                        $('#td5-9').text(response[number][17]);//поток

                                    } else {
                                        $('#td4-1').text("");
                                        $('#td4-2').text("");
                                        $('#td4-3').text("");
                                        $('#td4-4').text("");
                                        $('#td4-5').text("");
                                        $('#td4-6').text("");
                                        $('#td4-7').text("");
                                        $('#td4-8').text("");
                                        $('#td4-9').text("");

                                        $('#td5-1').text("");
                                        $('#td5-2').text("");
                                        $('#td5-3').text("");
                                        $('#td5-4').text("");
                                        $('#td5-5').text("");
                                        $('#td5-6').text("");
                                        $('#td5-7').text("");
                                        $('#td5-8').text("");
                                        $('#td5-9').text("");
                                    }
                                }
                            });
                        }


                        function getTime(response, number, td) {
                            time = {
                                "year": response[number][3],
                                "month": response[number][4],
                                "day": response[number][5],
                                "hourS": response[number][6],
                                "minuteS": response[number][7],
                                "secondS": response[number][8],
                                "hourE": response[number][12],
                                "minuteE": response[number][13],
                                "secondE": response[number][14]
                            };
                            $('#td' + td + '-2').text(time.day + "." + time.month + "." + time.year + " c " + time.hourS + ":" + time.minuteS + ":" + time.secondS + " по " + time.hourE + ":" + time.minuteE + ":" + time.secondE);
                        }

                        function getRealTime(response, num) {
                            var res = ((response[num][13] - response[num][7]) * 60) + (response[num][14] - response[num][8]);
                            return ((Math.trunc(res / 60) + res % 60 * 0.01).toFixed(2));
                        }

                        function getDifferent(response, real, td, program) {
                            var resSecond = ((Math.trunc(response[10][program]) - Math.trunc(real)) * 60) + ((((response[10][program] - Math.trunc(response[10][program])) * 100).toFixed(2)) - (((real - Math.trunc(real)) * 100).toFixed(2)));
                            $('#td' + td + '-6').text((Math.trunc(resSecond / 60) + resSecond % 60 * 0.01).toFixed(2));
                        }
                    </script>

                    <h6>Подробная информация обьекта:
                        <span id="info" class="span"></span> мойка производилась по контуру: <span id="info2"
                                                                                                   class="span"></span>
                        дата и время: <span id="info3" class="span"></span></h6>

                    <h6>Статус:
                        <span id="status" class="span"></span></h6>

                    <thead>
                    <tr>
                        <th>Тип мойки</th>
                        <th>время мойки</th>
                        <th>ошибки</th>
                        <th>Заданное время</th>
                        <th>Реальное время</th>
                        <th>Разница времени</th>
                        <th>Температура</th>
                        <th>Концентрация</th>
                        <th>Скорость потока</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="td1-1"></td>
                        <td id="td1-2"></td>
                        <td id="td1-3"></td>
                        <td id="td1-4"></td>
                        <td id="td1-5"></td>
                        <td id="td1-6"></td>
                        <td id="td1-7"></td>
                        <td id="td1-8"></td>
                        <td id="td1-9"></td>
                    </tr>
                    <tr>
                        <td id="td2-1"></td>
                        <td id="td2-2"></td>
                        <td id="td2-3"></td>
                        <td id="td2-4"></td>
                        <td id="td2-5"></td>
                        <td id="td2-6"></td>
                        <td id="td2-7"></td>
                        <td id="td2-8"></td>
                        <td id="td2-9"></td>
                    </tr>
                    <tr>
                        <td id="td3-1"></td>
                        <td id="td3-2"></td>
                        <td id="td3-3"></td>
                        <td id="td3-4"></td>
                        <td id="td3-5"></td>
                        <td id="td3-6"></td>
                        <td id="td3-7"></td>
                        <td id="td3-8"></td>
                        <td id="td3-9"></td>
                    </tr>
                    <tr>
                        <td id="td4-1"></td>
                        <td id="td4-2"></td>
                        <td id="td4-3"></td>
                        <td id="td4-4"></td>
                        <td id="td4-5"></td>
                        <td id="td4-6"></td>
                        <td id="td4-7"></td>
                        <td id="td4-8"></td>
                        <td id="td4-9"></td>
                    </tr>
                    <tr>
                        <td id="td5-1"></td>
                        <td id="td5-2"></td>
                        <td id="td5-3"></td>
                        <td id="td5-4"></td>
                        <td id="td5-5"></td>
                        <td id="td5-6"></td>
                        <td id="td5-7"></td>
                        <td id="td5-8"></td>
                        <td id="td5-9"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


 <!--этот див заглушка-->
<div id="zatemnenie">
    <div id="okno">
        Ошибка № 3 вызвана долгим нагревом моющего/дезинфицирующего раствора.<br>
        Пути решения:<br>
        – проверка корректной работы насоса откачки, путем включения его в ручном режиме и пробной откачки жидкости;<br>
        – проверка работоспособности запорного клапана подачи пара, путем открытия его в ручном режиме и осматривания положения штока;<br>
        – проверка наличия давления пара на подачи в станцию путем осматривания манометра пара (допустимые значения 4,5–5 bar);<br>
        – проверка закрытия подачи хладогента на моющейся объект, путем осмотра клапана подачи хладогента;<br>

        <br>
        <a href="#" class="close">Закрыть окно</a>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('form').submit(function () {
            var json = {
                "object": $('#objectType').val(),
                "cip": $('#routType').val(),
                "type": $('#washType').val(),
                "startSearch": $('#start-datetime-local-input').val(),
                "endSearch": $('#end-datetime-local-input').val(),
            };
            console.log(json);
            $.ajax({
                type: 'POST',
                contentType: "application/json",
                url: "/gantt",
                data: JSON.stringify(json),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    // Вывод текста результата отправки в текущей форме
                    console.log('123567');
                    google.charts.load('current', {'packages': ['timeline']});
                    google.charts.setOnLoadCallback(drawChart);

                    var chart, dataTable;

                    function drawChart() {
                        var container = document.getElementById('timeline');
                        chart = new google.visualization.Timeline(container);
                        dataTable = new google.visualization.DataTable();


                        let htmlData = data;


                        dataTable.addColumn({type: 'string', id: ' Cip'});
                        dataTable.addColumn({type: 'string', id: 'Object'});
                        dataTable.addColumn({type: 'string', id: 'style', role: 'style'});
                        dataTable.addColumn({type: 'date', id: 'Start'});
                        dataTable.addColumn({type: 'date', id: 'End'});


                        var el;
                        for (let subArr of Object.keys(htmlData)) {
                            el = htmlData[subArr];

                            dataTable.addRows([[el[0], el[1], el[2],
                                new Date(el[3], el[4] - 1, el[5], el[6], el[7], el[8]), new Date(el[9], el[10] - 1, el[11], el[12], el[13], el[14])]
                            ]);

                        }


                        var options = {
                            timeline: {
                                rowLabelStyle: {fontName: 'Helvetica', fontSize: 16, color: '#603913'},
                                barLabelStyle: { /*fontName: 'Helvetica',*/ fontSize: 12},

                            },
                            width: 33000,
                            hAxis: {

                                format: '      d.MM.yy H:mm',
                                timezone: 'UTC + 6',
                                gridlines: {count: 15}
                            }
                        };


                        chart.draw(dataTable, options);


                        google.visualization.events.addListener(chart, 'select', selectHandler);
                    }


                }
            });
            return false;
        });
    });
</script>


</body>
</html>