<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/jav/ooo.js}"></script>-->
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
</head>
<body>
<h1> test</h1>
<!--<p th:text="'Hello, ' + ${name} + '!'"></p>-->
<canvas id="myChart"></canvas>
<script th:inline="javascript">
    /*<![CDATA[*/
    var htmlData = [[${data}]]
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: Object.keys(htmlData),
            datasets: [{
                label: 'My First dataset',
                data: Object.keys(htmlData).map(function (key)  {return htmlData[key];
                }),
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)'
            }]
        },

        // Configuration options go here
        options: {}
    });
    /*]]>*/
</script>
</body>
</html>