<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Добавление нового пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<p th:text="${message} ? ${message} : ''"></p> <!--Оформить !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<form class="form-signin" method="post" th:action="@{/registration}">
    <img  th:src="@{/docs/Unilever.svg}" alt="Unilever" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста зополните данные</h1>
    <label for="inputLastName" class="sr-only">Фамилия</label>
    <input type="text"  name="lastName" id="inputLastName" class="form-control" placeholder="Фамилия" required="" autofocus="">
    <label for="inputFirstName" class="sr-only">Имя</label>
    <input type="text"  name="firstName" id="inputFirstName" class="form-control" placeholder="Имя" required="" autofocus="">
    <label for="inputPatronymic" class="sr-only">Отчество</label>
    <input type="text"  name="patronymic" id="inputPatronymic" class="form-control" placeholder="Отчество" required="" autofocus="">
    <label for="inputLogin" class="sr-only">Логин</label>
    <input type="text"  name="login" id="inputLogin" class="form-control" placeholder="Логин" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
    <label for="inputRole" class="sr-only"></label>
    <select name="roleForSet" id="inputRole" class="form-control"><option>Оператор</option><option>Инженер</option></select>
    <input type="text" name="active" value="true" hidden>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Зарегистрировать</button>
    <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
</form>


</body>
</html>